.foot {
    background: #3FA5D5;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.foot__h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    color: white;
}

.foot__right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foot__number {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: white;
}

.foot__email {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
}